
body {
	background-color: #f7fafc;
}

#gridContainer {
	display: grid;
}
.celda {
	width: 32px;
	height: 32px;
	border: 1px solid #d1d5db;
	box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.1);
	transition: background-color 0.2s ease;
	font-size: 1.3rem;
	display: flex;
	align-items: center;
	justify-content: center;
	
}
[data-tipo="inicio"],
[data-tipo="fin"],
[data-tipo="obstaculo"] {
	background: none !important;
}

/* Tipos de celda */
[data-tipo="camino"] {
	background-color: #e5e7eb; /* Tailwind gray-200 */
}

[data-tipo="manzana"] {
	background-color: #1f2937;
			background-image: repeating-linear-gradient(
				45deg,
				#1f2937,
				#1f2937 4px,
				#374151 4px,
				#374151 8px
			);
}


[data-tipo="inicio"] {
	background-color: #3b82f6; /* Tailwind blue-500 */
}

[data-tipo="fin"] {
	background-color: #a855f7; /* Tailwind purple-500 */
}

[data-tipo="obstaculo"] {
	background-color: #374151; /* Tailwind gray-700 */
}

.celda.bg-orange-300 {
    background-color: #fdba74 !important; /* Tailwind orange-300 */
}
.celda.bg-blue-200 {
    background-color: #1c70d6 !important; /* Tailwind blue-200 */
}
.celda.bg-green-300 {
    background-color: #00c742 !important; /* Tailwind green-300 */
}

#mapa-wrapper {
    overflow: auto !important;
    min-width: 400px;
    min-height: 400px;
    max-width: 100%;
    max-height: 100%;
}
